{% extends "base.twig" %}
{% block content %}
    <div class="jumbotron">
        <h1>Afrekenen</h1>
    </div>
    {% if winkelmandje %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Omschrijving</th>
            </tr>
            </thead>
            <tbody>
            {% set som = 0 %}
            {% for pizza in winkelmandje %}
                <tr data-toggle="collapse" data-target=".pizza{{ loop.index }}" class="accordion-toggle">
                    <td>{{ pizza.product.naam }}</td>

                    <td>&euro;
                        {% if promo =="1" %}
                        {{ (pizza.product.prijs* (1-pizza.product.promoKorting))|number_format }}
                        {% else %}
                            {{ pizza.product.prijs|number_format }}
                            {% endif %}
                            </td>
                    <td>{{ pizza.product.omschrijving }} </td>
                    <td>{{ pizza.aantal }}</td>
                </tr>
                {% for ingredient in pizza.ingredienten %}
                <tr >
                    <td >
                        <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">Extra: {{ ingredient.naam }}</div>
                    </td>
                    <td>
                        <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">&euro;{{ ingredient.prijs }}</div>
                    </td>
                    <td colspan="3">
                        <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">{{ ingredient.omschrijving }}</div>
                    </td>
                </tr>
                    {% if promo =="1" %}
                        {% set som = som + ingredient.prijs*(1-ingredient.promoKorting) %}
                    {% else %}
                        {% set som = som + ingredient.prijs%}
                    {% endif %}
            {% endfor %} {% if promo =="1" %}
                {% set som = som + ((pizza.product.prijs*(1-pizza.product.promoKorting))*pizza.aantal) %}
            {% else %}


                {% set som = som + (pizza.product.prijs*pizza.aantal)%}
            {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Totaalprijs:</td>
                <td>&euro; {{ som|number_format}}

                </td>
                <td><a href="toonallepizzas.php">Wijzig winkelmandje</a></td>
            </tr>
            </tfoot>
        </table>



        {% if error %}
            <div class="panel panel-danger">
            <div class="panel-heading">
            <strong>{{ error }}</strong> Wel in de volgende steden:</div>
            <div class="panel-body">
           {% for stad in leverStad %}
            {{ stad.stad }}<br />
           {% endfor %}
            </div>
            </div>

        {% endif %}
        <form action="bestelling.php?action=toevoegen" method="post">
            <div class="form-group">
                <label for="info">Info<textarea name="info" id="info" class="form-control"cols="50" placeholder="Opmerkingen voor bij het leveren."></textarea></label>
            </div>
            <div class="form-group">
                <label for="straat">Straat</label><input class="form-control" id="straat" name="straat" type="text" required
                                                         value="{% if not error %}{{ klant.straat.straat }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="huisnummer">Huisnummer</label><input class="form-control" id="huisnummer" name="huisnummer"
                                                                 type="text" required value="{% if not error %}{{ klant.straat.huisnummer }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="stad">Stad</label><input list="stadLijst" class="form-control" id="stad" name="stad" type="text" required
                                                     value="{% if not error %}{{ klant.stad.stad }}{% endif %}">
                <datalist id="stadLijst">
                    {% for stad in steden %}
                        <option value="{{ stad.stad }}"></option>
                        {% endfor %}
                </datalist>
            </div>
            {#<div class="form-group">#}
                {#<label for="postcode">Postcode</label><input class="form-control" id="postcode" name="postcode"#}
                                                             {#type="text" required value="{% if not error %}{{ klant.stad.postcode }}{% endif %}">#}
            {#</div>#}
            <div class="form-group">
                <label for="tijd">Dag levering </label>
                <input id="tijd" name="tijd" type="date" required value="{{ vandaag }}" >
            </div>
            <div class="form-group">
                <label for="uur">Tijdstip levering </label>
                <input id="uur" name="uur" type="time" required value="{{ tijd }}" >
            </div>



            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Bestellen">
            </div>


        </form>


    {% endif %}
{% endblock %}