<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ zaak.naam }}</title>
</head>
<body>
<h1>{{ zaak.naam }}</h1>
<h2>Voorwaarden</h2>
<p>{{ zaak.voorwaarden}}</p>
<h2>Promo periode</h2>
<dl>
    <dt>Begin</dt>
    <dd>{{ zaak.beginPromoDatum }}</dd>
    <dt>Einde</dt>
    <dd>{{ zaak.eindPromoDatum }}</dd>
</dl>
</body>
</html>