{% extends "base.twig" %}

{% block content %}
    <div class="jumbotron">
    <h1>Alle pizza's waarvan je ooit had kunnen dromen!</h1>
    </div>
    {% if bestelling %}
    <div class="alert alert-success">
        {{ bestelling }}
    </div>
{% endif %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
        </tr>
        </thead>
        <tbody>
        {% for pizza in producten %}
            {% if pizza.extra == 0 %}
            <tr>
                <td>{{ pizza.naam }}</td>
                <td>&euro;{{ pizza.prijs }} </td>
                <td>{{ pizza.omschrijving }} </td>
                {#<td>#}
                    {#<a href="updateProduct.php?id={{ pizza.id }}">Wijzigen</a>#}
                {#</td>#}
                {#<td>#}
                    {#<a href="verwijderProduct.php?id={{ pizza.id }}">Verwijder</a>#}
                {#</td>#}
                <td>
                    <a href="winkelmandje.php?action=toevoegen&id={{ pizza.id }}"> Toevoegen</a>
                </td>
            </tr>
            {%  endif %}
        {% endfor %}
        </tbody>

    </table>
    {% if winkelmandje %}
    <h1>Winkelmandje</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
            <th>Aantal</th>
        </tr>

        </thead>
        <tbody>
        {% for pizza in winkelmandje %}
            <tr>
            <td>{{ pizza.product.naam }}</td>
            <td>&euro;{{ pizza.product.prijs }} </td>
            <td>{{ pizza.product.omschrijving }} </td>
            <td>{{ pizza.aantal }}</td>
                <td><a href="winkelmandje.php?action=verwijder&id={{ pizza.product.id }}"> Verwijder</a>
                </td>
            </tr>
        {% endfor  %}
        </tbody>
    </table>
        <form action="afrekenen.php" method="post"><input type="submit" class="btn btn-primary" value="Afrekenen"></form>

{% endif %}
{% endblock %}
