{% extends "base.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
        </tr>
        </thead>
        <tbody>
        {% for pizza in producten %}
            {% if pizza.extra == 0 %}
            <tr>
                <td>{{ pizza.naam }}</td>
                <td>&euro;{{ pizza.prijs }} </td>
                <td>{{ pizza.omschrijving }} </td>
                <td>
                    <a href="updateProduct.php?id={{ pizza.id }}">Wijzigen</a>
                </td>
                <td>
                    <a href="verwijderProduct.php?id={{ pizza.id }}">Verwijder</a>
                </td>
            </tr>
            {%  endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
