{% extends "base.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Alle pizza's waarvan je ooit had kunnen dromen!</h1>
    </div>
    {#{% if bestelling %}#}
        {#<div class="alert alert-success">#}
            {#{{ bestelling }}#}
        {#</div>#}
    {#{% endif %}#}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
        </tr>
        </thead>
        <tbody>
        {% for pizza in producten if pizza.extra ==0 %}
            {#{% if pizza.extra == 0 %}#}
            <tr>
                <td>{{ pizza.naam }}</td>
                <td>{% if promo %}
                        &euro;{{ (pizza.prijs * (1 - pizza.promoKorting))|number_format }}
                    {% else %}
                        &euro;{{ pizza.prijs }}
                    {% endif %}
                </td>
                <td>{{ pizza.omschrijving }} </td>
                {#<td>#}
                {#<a href="updateProduct.php?id={{ pizza.id }}">Wijzigen</a>#}
                {#</td>#}
                {#<td>#}
                {#<a href="verwijderProduct.php?id={{ pizza.id }}">Verwijder</a>#}
                {#</td>#}
                <td><a href="extraingredienten.php?id={{ pizza.id }}">pizza met extra ingredienten toevoegen</a>
                </td>
                <td>
                    <a href="winkelmandje.php?action=toevoegen&id={{ pizza.id }}"> <span
                                class="glyphicon glyphicon-plus-sign"></span><span
                                class="glyphicon glyphicon-shopping-cart"></span></a>
                </td>
            </tr>
            {#{% endif %}#}
        {% endfor %}
        </tbody>

    </table>
    {% if winkelmandje %}

        <h1>Winkelmandje</h1>




        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Omschrijving</th>
                <th>Aantal</th>
            </tr>

            </thead>
            <tbody>
            {% for key,pizza in winkelmandje %}
                <tr data-toggle="collapse" data-target=".pizza{{ loop.index }}" class="accordion-toggle">
                    <td>{{ pizza.product.naam }}</td>
                    <td>
                        {% if promo == "1" %}
                            &euro;{{ (pizza.product.prijs * (1 - pizza.product.promoKorting))|number_format }}
                        {% else %}
                            &euro;{{ pizza.product.prijs }}
                        {% endif %}
                    </td>
                    <td>{{ pizza.product.omschrijving }} </td>
                    <td>{{ pizza.aantal }}</td>
                    <td><a href="winkelmandje.php?action=verwijder&id={{ key }}"><span
                                    class="glyphicon glyphicon-minus-sign"></span><span
                                    class="glyphicon glyphicon-shopping-cart"></span></a>
                    </td>
                </tr>


                {% for ingredient in pizza.ingredienten if pizza.ingredienten %}
                    <tr>
                        <td>
                            <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">
                                Extra: {{ ingredient.naam }}</div>
                        </td>
                        <td>
                            <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">
                                &euro;{{ ingredient.prijs }}</div>
                        </td>
                        <td colspan="3">
                            <div class="accordion-body collapse pizza{{ loop.parent.loop.index }}">{{ ingredient.omschrijving }}</div>
                        </td>
                    </tr>
                {% endfor %}

            {% endfor %}
            </tbody>
        </table>
        <form action="aanmeldkeuze.php" method="post"><input type="submit" class="btn btn-primary" value="Afrekenen">
        </form>

    {% endif %}
{% endblock %}
