{% extends "beheerder/navigatie.twig" %}
{% block klanten %}  class="active" {% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>Telefoon</th>
            <th>E-mail</th>
            <th>Opmerking</th>
            <th>Stad</th>
            <th>Postcode</th>
            <th>Straat</th>
        </tr>
        </thead>
        <tbody>
        {% for klant in klanten %}
            <tr>
                <td>{{ klant.naam }}</td>
                <td>{{ klant.voornaam }}</td>
                <td>{{ klant.telefoon }} </td>
                <td>{{ klant.emailadres }} </td>
                <td>{{ klant.opmerking }} </td>
                <td>{{ klant.stad.stad }} </td>
                <td>{{ klant.stad.postcode }} </td>
                <td>{{ klant.straat.straat }} {{ klant.straat.huisnummer }} </td>
                <td><a href="product.php?action=bewerken">Bewerken</a></td>
                <td><a href="product.php?action=verwijderen"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><a href="product.php?action=toevoegen"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}